<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=8, IE=9, IE=edge"/>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>
<body>
		hiiiii im index.ejs turned into html

		<!--3ejs code for making something show on the scren -->

		<ul>
			<h4>Fruits<h4>
				<% fruit.forEach((item) => { %>					
					<li><%= item.name %>, <%= item.color %></li>				
			<% }) %>
		</ul>


		<script src="/javascripts/app.js"></script>
</body>
</html>