<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=8, IE=9, IE=edge"/>
	<title></title>
	<link rel="stylesheet" type="text/css" href="">
</head>
<body>

	<h1>Fruits Show Page</h1>

	<ul>
		<h4> Fruits </h4>

		<li>
	</ul>
	<!-- //list out the name of the fruit and color of the fruit -->

	The <%= fruit.name %> is <%= fruit.color %>

	<% if (fruit.readyToEat === true) { %>
		<span> fruit is good to go </span>
	<% } else { %>
		<span>No fruit for you</span>
	<% } %>

	
	<!-- // if the fruit is readyToEat
		display I'm hungry here is some fruit
	//else
	// no fruit is nor ready go away -->
</body>
</html>

§§§§§§§§§§§§